.flash {
  text-align: center;
  font-family: 'Helvetica Neue';
  font-weight: bolder;
  .notice {
    color: green;
  }
  .alert {
    color: red;
  }
}

.field_with_errors {
  input[type="text"] {
    border-color: red;
    border-width: 3px;
  }

  label {
    color: red;
  }
}

.error-msg {
  color: red;
}